@{
    ViewData["Title"] = "Home Page";
}

    <h2>Welcome to the "Platform Thing"</h2>

    <p>
      platform (noun):
      <ol>
        <li>a raised level surface on which people or things can stand.</li>
        <li>the declared policy of a political party or group.</li>
      </ol>
      lets build a raised level surface for builders to stand upon today! Hi retro 59!
    </p>
